.center {
	margin: 0 auto;
}

/*body {
	background-image: url("../img/bullbackgroundtransparent.jpg");
}*/

.stockOptionOn {
	background-color: green;
}

.btn {
	margin: 5px;
}

.stockOptionOff {
	background-color: gray;
}

#apptitle {
	size: 20;
}

path { 
    stroke: blue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    shape-rendering: crispEdges;
}